/* body{
   
    }; */

* {
    cursor: url("../images/GuitarCursor.cur"),  default;
}
a {
    cursor: url("../images/GuitarCursorHover.cur"), default; 
}



.pageTitle {
    font-family: 'Black Ops One', cursive;
    font-size: 58px;
    color: #3C93C5;
    padding: 45px 45px 10px 85px;
}
.galleryWrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
}

.galleryCard {
    /* border: solid red 1px; */
    width: 425px;
    height: auto;
    padding: 25px;
    margin: 5px;
    overflow: hidden;
}

.galleryCard img {
    overflow: hidden;
}

.additionalGallery {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
    display: none;
}
.btnWrapper {
    margin: 25px 0px 60px 0px;
    display: flex;
    justify-content: center;
}
#moreImagesBtn {
    width: 250px;
    display: flex;
    flex: row;
    justify-content: center;
    text-align: center;
    background-color:#FFAD3E;
    color: white;
    font-family: "Yantramanav", Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 7px 0px 7px 0px;
    border-radius: 3px;
}

button {
    outline: none;
    color: white;
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.0625em;
    border-radius: 3px;

}
footer {
    height: 150px;
    background-color: #7BC351;
    background-size: cover;
    display: flex;
    flex-direction: row;
    /* border: solid red 1px; */
    overflow: hidden;
    align-items: center;
    position: relative;
    margin: auto;
    z-index: 1;

}
.footerText {
    /* border: solid red 1px; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    z-index: 1;
    position: absolute;
    margin: 0px 30%;
    top: 50%;
    font-family: "Yantramanav", Verdana, Geneva, Tahoma, sans-serif;
}