
/* body{
   
    }; */


* {
    cursor: url("../images/GuitarCursor.cur"), default;
}
a {
   cursor: url("../images/GuitarCursorHover.cur"), default; 
}
button {
    cursor: url("../images/GuitarCursorHover.cur"), default; 
 }


/* * {
    cursor: url("../images/GuitarCursor.cur"),  default;
} */

/* .cursor{
background-size: cover;
background-color: rgb(55, 55, 55);
color: white;
display: flex;
justify-content: center;
align-items: center;
cursor: url("../images/GuitarCursor.png")
}; */


nav {
    background-color: #7BC351;
    background-size: cover;
    display: flex;
    flex-direction: row;
    /* border: solid red 1px; */
    overflow: hidden;
    align-items: center;
    position: relative;
    bottom: 0%;

    z-index: -1;

}

#navGrass{
    background-repeat: repeat-x;
    width: 100%;
    /* max-height: 50%; */
    /* border: solid red 1px; */
    display: flex;
    flex: auto;
    align-items:baseline;
    opacity: 50%;
    position: absolute;
    bottom: 0;

    z-index: -5;

}

.navText {
    /* border: solid red 1px; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    z-index: 1;
    position: absolute;
    margin: 0px 30%;
    bottom: 3%;
    font-family: "Yantramanav", Verdana, Geneva, Tahoma, sans-serif;
}

.primaryLogo {
    /* border: solid red 1px; */
    width: 350px;
    height: auto;
    margin: 10px;
    padding: 20px 50px;
    display: flex;
    align-items: flex-start;
    z-index: 2;
}

.navWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0;
    justify-content: space-between;
}

.navWrapper a {
    border-left: solid white 1px ;
    /* border-right: solid white 1px; */
    letter-spacing: 0.0625em;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0px 25px 0px 25px;
    margin: 0;
    font-family: "Yantramanav", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    color: white;
    position: relative;
    text-decoration: none;
}

#navResources {
    border-right: solid white 1px;
}

.navItems {

}

.heroImage img {
    height: 100%;
    width: 100%;
}

.card {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;  
}

.card-title {
    font-family: "Yantramanav", Verdana, Geneva, Tahoma, sans-serif;
    color: #3A8FD9;
    font-size: 50px;
}

.cards {
    display: inline-block;
    padding: 50px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.faqs {
    margin-top: -1000px;
    max-width: 1000px;
}
/* 
.background-gradient {
    margin-top: -1600px;
} */

.body-after-hero {
    background-image: url("../images/HOMEPAGE/BACKGROUND-gradient.png");
    background-repeat: none;
}

footer {
    /* height: 150px; */
    background-color: #7BC351;
    background-size: cover;
    display: flex;
    flex-direction: row;
    /* border: solid red 1px; */
    overflow: hidden;
    align-items: center;
    position: relative;
    margin: auto;
    z-index: 1;

}
.footerText {
    /* border: solid red 1px; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    z-index: 1;
    position: absolute;
    margin: 0px 30%;
    top: 50%;
    font-family: "Yantramanav", Verdana, Geneva, Tahoma, sans-serif;
}